---
http_interactions:
- request:
    method: get
    uri: https://welltravel.atlassian.net/rest/api/2/project/UM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "$AuthorizationBasicToken"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - d9bd112c977a0427
      X-Aaccountid:
      - 557058%3A2b30b64d-2597-473c-a66b-3a18a7ce7398
      X-Arequestid:
      - c06cb0e6-5e1b-4239-8f28-0f18c8ed3b75
    body:
      encoding: ASCII-8BIT
      string: '{"expand":"description,lead,issueTypes,url,projectKeys,permissions","self":"https://welltravel.atlassian.net/rest/api/2/project/10804","id":"10804","key":"UM","description":"","lead":{"self":"https://welltravel.atlassian.net/rest/api/2/user?accountId=557058:2b30b64d-2597-473c-a66b-3a18a7ce7398","key":"mark.mondol","accountId":"557058:2b30b64d-2597-473c-a66b-3a18a7ce7398","name":"mark.mondol","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=32&s=32"},"displayName":"Mark
        Mondol","active":true},"components":[],"issueTypes":[{"self":"https://welltravel.atlassian.net/rest/api/2/issuetype/10002","id":"10002","description":"A
        task that needs to be done.","iconUrl":"https://welltravel.atlassian.net/secure/viewavatar?size=medium&avatarId=10318&avatarType=issuetype","name":"Task","subtask":false,"avatarId":10318},{"self":"https://welltravel.atlassian.net/rest/api/2/issuetype/10003","id":"10003","description":"The
        sub-task of the issue","iconUrl":"https://welltravel.atlassian.net/secure/viewavatar?size=medium&avatarId=10316&avatarType=issuetype","name":"Sub-task","subtask":true,"avatarId":10316},{"self":"https://welltravel.atlassian.net/rest/api/2/issuetype/10001","id":"10001","description":"A
        user story. Created by JIRA Software - do not edit or delete.","iconUrl":"https://welltravel.atlassian.net/images/icons/issuetypes/story.svg","name":"Story","subtask":false},{"self":"https://welltravel.atlassian.net/rest/api/2/issuetype/10004","id":"10004","description":"A
        problem which impairs or prevents the functions of the product.","iconUrl":"https://welltravel.atlassian.net/secure/viewavatar?size=medium&avatarId=10303&avatarType=issuetype","name":"Bug","subtask":false,"avatarId":10303},{"self":"https://welltravel.atlassian.net/rest/api/2/issuetype/10000","id":"10000","description":"A
        big user story that needs to be broken down. Created by JIRA Software - do
        not edit or delete.","iconUrl":"https://welltravel.atlassian.net/images/icons/issuetypes/epic.svg","name":"Epic","subtask":false}],"assigneeType":"UNASSIGNED","versions":[],"name":"University
        Management","roles":{"Service Desk Team":"https://welltravel.atlassian.net/rest/api/2/project/10804/role/10301","atlassian-addons-project-access":"https://welltravel.atlassian.net/rest/api/2/project/10804/role/10200","Developers":"https://welltravel.atlassian.net/rest/api/2/project/10804/role/10201","Service
        Desk Customers":"https://welltravel.atlassian.net/rest/api/2/project/10804/role/10300","Administrators":"https://welltravel.atlassian.net/rest/api/2/project/10804/role/10002","Tempo
        Project Managers":"https://welltravel.atlassian.net/rest/api/2/project/10804/role/10100"},"avatarUrls":{"48x48":"https://welltravel.atlassian.net/secure/projectavatar?pid=10804&avatarId=10203","24x24":"https://welltravel.atlassian.net/secure/projectavatar?size=small&s=small&pid=10804&avatarId=10203","16x16":"https://welltravel.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10804&avatarId=10203","32x32":"https://welltravel.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10804&avatarId=10203"},"projectTypeKey":"software","simplified":false,"style":"classic","isPrivate":false,"properties":{}}'
  recorded_at: Thu, 01 Aug 2019 04:49:55 GMT
- request:
    method: get
    uri: https://welltravel.atlassian.net/rest/api/2/search?jql=project=%22UM%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "$AuthorizationBasicToken"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Atl-Traceid:
      - a646e38dc6f72cbb
      X-Aaccountid:
      - 557058%3A2b30b64d-2597-473c-a66b-3a18a7ce7398
      X-Arequestid:
      - 647c8067-b28f-4617-b1b1-75534965e49c
    body:
      encoding: ASCII-8BIT
      string: '{"expand":"schema,names","startAt":0,"maxResults":50,"total":10,"issues":[{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"34984","self":"https://welltravel.atlassian.net/rest/api/2/issue/34984","key":"UM-10","fields":{"statuscategorychangedate":"2019-07-24T00:58:38.023-0500","issuetype":{"self":"https://welltravel.atlassian.net/rest/api/2/issuetype/10001","id":"10001","description":"A
        user story. Created by JIRA Software - do not edit or delete.","iconUrl":"https://welltravel.atlassian.net/images/icons/issuetypes/story.svg","name":"Story","subtask":false},"project":{"self":"https://welltravel.atlassian.net/rest/api/2/project/10804","id":"10804","key":"UM","name":"University
        Management","projectTypeKey":"software","simplified":false,"avatarUrls":{"48x48":"https://welltravel.atlassian.net/secure/projectavatar?pid=10804&avatarId=10203","24x24":"https://welltravel.atlassian.net/secure/projectavatar?size=small&s=small&pid=10804&avatarId=10203","16x16":"https://welltravel.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10804&avatarId=10203","32x32":"https://welltravel.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10804&avatarId=10203"}},"description":"h2.
        Description\n\nSo as we''re going to have a release application which will
        auto generate release notes, this project has been chosen for test purposes.
        This story is to test that whether we can parse the git event properly and
        from that whether we can fetch this story information from our application\n\nh2.
        Acceptance\n\n* Make sure in this Guinea pig experiment, the guinea pig doesn''t
        die \n\n","customfield_11000":null,"fixVersions":[],"customfield_11100":null,"resolution":null,"customfield_11300":null,"customfield_11301":null,"customfield_11202":null,"customfield_10015":"0|i016lq:","customfield_10500":null,"customfield_11337":null,"customfield_11336":null,"customfield_10501":[],"customfield_10600":null,"security":null,"customfield_10700":{"hasEpicLinkFieldDependency":false,"showField":false,"nonEditableReason":{"reason":"PLUGIN_LICENSE_ERROR","message":"Portfolio
        for Jira must be licensed for the Parent Link to be available."}},"customfield_10502":null,"customfield_11339":null,"customfield_10800":"{pullrequest={dataType=pullrequest,
        state=MERGED, stateCount=1}, json={\"cachedValue\":{\"errors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":1,\"lastUpdated\":\"2019-07-31T05:04:10.000-0500\",\"stateCount\":1,\"state\":\"MERGED\",\"dataType\":\"pullrequest\",\"open\":false},\"byInstanceType\":{\"GitHub\":{\"count\":1,\"name\":\"GitHub\"}}}}},\"isStale\":true}}","customfield_10503":null,"customfield_11338":null,"customfield_10504":null,"customfield_10901":"Please
        explain shortly what''s the reason to change this state?\r\nh1. ","customfield_10505":null,"resolutiondate":null,"workratio":-1,"summary":"Story
        to test Webhooks for our Release App","lastViewed":"2019-07-31T07:29:24.520-0500","watches":{"self":"https://welltravel.atlassian.net/rest/api/2/issue/UM-10/watchers","watchCount":1,"isWatching":true},"creator":{"self":"https://welltravel.atlassian.net/rest/api/2/user?accountId=557058%3A2b30b64d-2597-473c-a66b-3a18a7ce7398","name":"mark.mondol","key":"mark.mondol","accountId":"557058:2b30b64d-2597-473c-a66b-3a18a7ce7398","emailAddress":"mark.mondol@welldev.io","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=32&s=32"},"displayName":"Mark
        Mondol","active":true,"timeZone":"America/Chicago","accountType":"atlassian"},"subtasks":[],"created":"2019-07-24T00:58:37.835-0500","reporter":{"self":"https://welltravel.atlassian.net/rest/api/2/user?accountId=557058%3A2b30b64d-2597-473c-a66b-3a18a7ce7398","name":"mark.mondol","key":"mark.mondol","accountId":"557058:2b30b64d-2597-473c-a66b-3a18a7ce7398","emailAddress":"mark.mondol@welldev.io","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=32&s=32"},"displayName":"Mark
        Mondol","active":true,"timeZone":"America/Chicago","accountType":"atlassian"},"priority":{"self":"https://welltravel.atlassian.net/rest/api/2/priority/3","iconUrl":"https://welltravel.atlassian.net/images/icons/priorities/medium.svg","name":"Medium","id":"3"},"customfield_10400":null,"labels":["guinea-pig-experiment"],"customfield_10016":null,"customfield_10017":null,"duedate":null,"votes":{"self":"https://welltravel.atlassian.net/rest/api/2/issue/UM-10/votes","votes":0,"hasVoted":false},"issuelinks":[],"assignee":{"self":"https://welltravel.atlassian.net/rest/api/2/user?accountId=557058%3A2b30b64d-2597-473c-a66b-3a18a7ce7398","name":"mark.mondol","key":"mark.mondol","accountId":"557058:2b30b64d-2597-473c-a66b-3a18a7ce7398","emailAddress":"mark.mondol@welldev.io","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/557058:2b30b64d-2597-473c-a66b-3a18a7ce7398/94eec791-b39d-4635-8131-15ea35eea11f/128?size=32&s=32"},"displayName":"Mark
        Mondol","active":true,"timeZone":"America/Chicago","accountType":"atlassian"},"updated":"2019-07-28T02:57:58.866-0500","status":{"self":"https://welltravel.atlassian.net/rest/api/2/status/10003","description":"","iconUrl":"https://welltravel.atlassian.net/","name":"To
        Do","id":"10003","statusCategory":{"self":"https://welltravel.atlassian.net/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"}}}},{"expand":"operations,versionedRepresentations,editmeta,changelog,renderedFields","id":"32867","self":"https://welltravel.atlassian.net/rest/api/2/issue/32867","key":"UM-9","fields":{"statuscategorychangedate":"2018-10-08T01:01:52.666-0500","issuetype":{"self":"https://welltravel.atlassian.net/rest/api/2/issuetype/10001","id":"10001","description":"A
        user story. Created by JIRA Software - do not edit or delete.","iconUrl":"https://welltravel.atlassi[...]
