---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/wtag/teams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token $GithubAccessToken$
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1563358605'
      Etag:
      - W/"b0b05669977b552b01a68936b8a797f0"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        gist, notifications, read:packages, repo, user, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Developers","id":1395755,"node_id":"MDQ6VGVhbTEzOTU3NTU=","slug":"developers","description":"","privacy":"secret","url":"https://api.github.com/teams/1395755","html_url":"https://github.com/orgs/wtag/teams/developers","members_url":"https://api.github.com/teams/1395755/members{/member}","repositories_url":"https://api.github.com/teams/1395755/repos","permission":"pull"},{"name":"Operations","id":2738747,"node_id":"MDQ6VGVhbTI3Mzg3NDc=","slug":"operations","description":"The
        operations team of Welltravel","privacy":"closed","url":"https://api.github.com/teams/2738747","html_url":"https://github.com/orgs/wtag/teams/operations","members_url":"https://api.github.com/teams/2738747/members{/member}","repositories_url":"https://api.github.com/teams/2738747/repos","permission":"pull"},{"name":"PCI-DSS","id":3321399,"node_id":"MDQ6VGVhbTMzMjEzOTk=","slug":"pci-dss","description":"The
        PCI-DSS team responsible for our credit card data","privacy":"closed","url":"https://api.github.com/teams/3321399","html_url":"https://github.com/orgs/wtag/teams/pci-dss","members_url":"https://api.github.com/teams/3321399/members{/member}","repositories_url":"https://api.github.com/teams/3321399/repos","permission":"pull"}]'
  recorded_at: Wed, 17 Jul 2019 09:16:45 GMT
- request:
    method: get
    uri: https://api.github.com/orgs/wtag/members/mmo-wtag
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token $GithubAccessToken$
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1563358605'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        gist, notifications, read:packages, repo, user, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - read:org, repo, user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Jul 2019 09:16:47 GMT
recorded_with: VCR 5.0.0
