<div id="check-in-nav" class="check-in-nav">
  <%= link_to teams_path do %>
    <div class="icon-round-btn btn-profile">
      <span class="tooltiptext"><%= t('team.list') %></span>
    </div>
  <% end %>
</div>
